<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/livres">Ma Bibliothèque</a>
    
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/livres" routerLinkActive="active">Liste des Livres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ajouter-livre" routerLinkActive="active">Ajouter un Livre</a>
        </li>
        
        <li class="nav-item">
<a class="nav-link" routerLink="/auteurs" routerLinkActive="active">Liste des Auteurs</a>         <li class="nav-item">
          <a class="nav-link" routerLink="/auteurs/nouveau" routerLinkActive="active">Ajouter un Auteur</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet> 
</div>